[run]
branch = True
relative_files = True
omit =
    .venv/*
    */migrations/*
    */tests/*
    */test_*.py
    */admin.py
    */apps.py
    manage.py
    generate_qr_labels.py
    test_qr_images.py
    verify_qr_urls.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
